body {
    background-color: #F1F1F1;
}
.alert {
    margin-bottom: 10px;
}
h1 {
    font-family:'Raleway', sans-serif;
    font-weight: 900;
    font-size: 50px;
    letter-spacing: -3px;
    color: #757575;
}
.contact-form {
    max-width: 450px;
    margin: 20px auto;
}
.contact-form .form-group {
    margin-bottom: 0;
    position: relative;
}
.contact-form input {
    padding-left: 32px;
}
.contact-form input ,form textarea {
    margin-bottom: 5px;
}
.contact-form textarea {
    height: 180px !important;
}
.contact-form input:not([type="submit"]) + i {
    height: 0;
    float: left;
    position: relative;
    top: -32px;
    left: 10px;
    color: #999;
}
.contact-form .asterisx {
    height: 0;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 6px;
    color: #F00;
}
.contact-form .custom-alert {
    padding: 5px 10px;
    display: none;
}
.contact-form .send-icon {
    position: relative;
    top: -30px;
    left: 10px;
    color: #FFF;
    display: block;
}